NEXT_PUBLIC_GAS_WEBAPP_URL=https://script.google.com/macros/s/REPLACE_WITH_DEPLOYMENT_ID/exec
NEXT_PUBLIC_APP_TITLE=CAFE SHIFT
NEXT_PUBLIC_ENABLE_GOOGLE_AUTH=true
NEXT_PUBLIC_GOOGLE_CLIENT_ID=REPLACE_WITH_GOOGLE_OAUTH_CLIENT_ID.apps.googleusercontent.com
NEXT_PUBLIC_ENABLE_DIRECT_TEST_BYPASS=false
NEXT_PUBLIC_DIRECT_TEST_BYPASS_TOKEN=cafe-shift-direct-8f3c27d4a91b
